.pio
##############################################
#   ____  _        _   _ _   _ _             
#  |  _ \(_) ___  | | | | |_(_) | ___  ___   
#  | |_) | |/ __| | | | | __| | |/ _ \/ __|  
#  |  __/| | (__  | |_| | |_| | |  __/\__ \  
#  |_|   |_|\___|  \___/ \__|_|_|\___||___/  
#                                            
#    Added automatically by pio_helper.sh    
##############################################

**/config.h
log.out
logs/

##############################################

.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode
logs/
sls/